body{
    margin: 0;
    padding: 0;
}
.menu-img{
    background-image: url(../assets/difelice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.details-container h2{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 200%;
    margin: 5% 5% 0% 5%;
}
.txt-presentation{
    opacity: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 25% 31% 25%;
    font-size: 6vw;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2)
}
.details-container p{
    padding: 2% 0% 2% 8%;
    font-size: 1.2vw;
    line-height: 27px;
}
.details-container h3{
    padding: 2% 5% 0% 6%;
    font-size: 150%;
    align-items: center;
    display: flex;
}

.s2{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and(max-width:765px){
    .menu-img{
      width: 120%;
    }
}

@media (max-width : 900px) {
    .details-container h2{
        justify-content: center;
        margin: 3% 0% 3% 0%;
    }
    
}

@media screen and (max-width:1024px){
    .details-container p{
        font-size: 12px;
        line-height: 15px;
    }
}