body{
    margin: 0;
    padding: 0;
}
.menu-img{
    background-image: url(../assets/difelice.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    justify-content: center;
}
.details-container h2{
display: flex;
justify-content: flex-start;
text-align: center;
font-size: 200%;
margin: 1% 70% 1% 5%;
}
.txt-presentation{
    opacity: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8% 25% 35% 25%;
    font-size: 600%;
    font-weight: 300%;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2)
}
.details-container p{
    text-align: center;
    padding: 2% 5% 2% 5%;
    font-size: 1.2vw;
    line-height: 27px;
}
.details-container h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2% 5% 0% 5%;
    font-size: 150%;
}

.s2{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and(max-width:765px){
    .menu-img{
      width: 120%;
    }
}

@media (max-width : 900px) {
    .details-container h2{
        justify-content: center;
        margin: 3% 0% 3% 0%;
    }
    
}